src/main/mule/global/retrieveconsolidatedroutesandschedules-xpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrieveconsolidatedroutesandschedules-xpapi-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedules-xpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedules-xpapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedules-xpapi-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedules-xpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedules-xpapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
	<sub-flow name="retrieveconsolidatedroutesandschedules-xpapi-InitializeRequestVariable-Sub_Flow" doc:id="39dea3f9-da7f-4300-ab24-8e4ea15c19f7">
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrieveconsolidatedroutesandschedules-xpapi-config">
		<flow-ref doc:name="Initialize Request Variable" doc:id="d4d22656-9758-493e-933c-b9ffc9a50465" name="retrieveconsolidatedroutesandschedules-xpapi-InitializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="958faf79-7273-4476-b218-37208b677a3b" message="Request received to routes on TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="getRoutes" doc:id="a3f136f5-7ca5-4a2c-b227-bb17e40ac580" name="travelOnTip-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="fe89c05b-54d8-442e-90e0-3fe8a366456f" message="Response sent from routes on TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrieveconsolidatedroutesandschedules-xpapi-config">
		<flow-ref doc:name="Initialize Request Variable" doc:id="d73e0363-6d68-42bc-93c1-3b15cac113db" name="retrieveconsolidatedroutesandschedules-xpapi-InitializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4441f3eb-f144-4026-9100-a40de8861b87" message="Request received to schedules on TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="getSchedules" doc:id="04a04dd0-1ec9-499d-9bcf-6a6f1a0f6e7b" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="be91f7d0-96a7-4a40-a018-348cf0981319" message="Response sent from schedules on TravelOnTip SAPI for transactionId #[vars.transactionId]"/>
    </flow>
</mule>
